div.title {
  display: flex;
  margin: 1rem 21px;
  align-items: center;

  h1 {
    margin: 0;
    margin-right: 1rem;
  }

  button:active mat-icon {
    animation: 0.6s rotatefresh 1;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      border-radius: 0;

      div.video-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        img {
          width: min(10vw, 7rem);
          display: block;
          margin: 8px 5px;
          aspect-ratio: 16/9;
          object-fit: cover;
        }

        div.text {
          margin: 8px;

          span {
            white-space: normal;
            overflow-wrap: anywhere;
            text-align: left;
            line-height: normal;
            display: flex;

            &.date {
              margin-top: 0.1rem;
              font-size: 0.7rem;
              color: grey;
            }
          }
        }
      }
    }
  }
}


@keyframes rotatefresh {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
      // transition-duration: 0.6s;
      // transition: 0.6s;
  }
}
