h1 {
  margin: 1rem 21px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      border-radius: 0;

      div.video-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        img {
          height: 3rem;
          display: block;
          margin: 8px 5px;
        }

        div.text {
          margin: 8px;

          span {
            white-space: normal;
            overflow-wrap: anywhere;
            text-align: left;
            line-height: normal;
            display: flex;

            &.date {
              margin-top: 0.1rem;
              font-size: 0.7rem;
              color: grey;
            }
          }
        }
      }
    }
  }
}
