<div class="title">
  <h1>History</h1>
  <button mat-icon-button aria-label="Refresh" (click)="getHistoryList()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<ul>
  <li *ngFor="let video of videoHistory">
    <a [href]="video.appUrl" mat-button>
      <div class="video-item">
        <img [src]="video.pictureUrl" alt="" />
        <div class="text">
          <span>{{ video.url }}</span>
          <span class="date">{{ video.date | date:'medium' }}</span>
        </div>
    </div>
    </a>
  </li>
</ul>
