
.navbar {
  .logo {
    margin-right: 0.5rem;
  }
  .brand {
    color: white;
    text-decoration: none;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
}


.container {
  height: calc(100% - 64px);
  
  .sidenav {
    width: 25rem;
    max-width: 30%;
  }
}



