<mat-toolbar color="primary">
  <mat-icon class="logo" aria-label="Youtube Player Logo">play_circle_outline</mat-icon>
  <a href="/" class="brand">YoutubePlayer</a>

  <span class="example-spacer"></span>

  <app-search-bar></app-search-bar>

  <span class="example-spacer"></span>

  <button mat-icon-button aria-label="History" (click)="togglePanel('history')">
    <mat-icon>history</mat-icon>
  </button>
  <button mat-icon-button aria-label="Bookmarks" (click)="togglePanel('bookmarks')">
    <mat-icon>bookmarks</mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container class="container" autosize>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

  <mat-drawer #drawer class="sidenav" mode="side" [opened]=showPanel position="end">
    <app-history *ngIf="showHistory"></app-history>
    <app-bookmarks *ngIf="showBookmarks" ></app-bookmarks>
  </mat-drawer>

</mat-drawer-container>
