.search-form {
  font-size: 1rem;
  width: 25rem;

  .search-field {
    width: 20rem;

    .search-input::placeholder {
      color: white;
    }
  }
}

.search-icon {
  transform: translateY(5px);
}
