.video-component {
  margin: 2rem;

  .video-ratio {
    aspect-ratio: 16/10.4;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    margin: auto;

    .video {
      aspect-ratio: 16/9;
      height: 100%;
      background-color: black;
      color: white;
      text-align: center;
      
      h1 {
        margin-top: 20%;
        margin-bottom: 2rem;
        font-size: 3rem;
      }

      .icon {
        $size: 5rem;
        font-size: $size;
        width: $size;
        height: $size;
        margin-top: 1rem;
      }
    }
    
    button {
      margin-top: 1rem;
      margin-left: auto;
      width: max-content;
    }
  }
}