<div class="video-component">

  <div *ngIf="safeVideoUrl != undefined" class="video-ratio">
    <iframe class="video"
      [src]="safeVideoUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
    <button *ngIf="!isBookmarked" mat-raised-button color="accent"
      (click)="addToBookmarks()">
      Add to bookmarks
      <mat-icon>bookmark_add</mat-icon>
    </button>
    <button *ngIf="isBookmarked" mat-raised-button color="accent"
      (click)="removeFromBookmarks()">
      Remove from bookmarks
      <mat-icon>bookmark_remove</mat-icon>
    </button>
  </div>

  <div *ngIf="safeVideoUrl == undefined" class="video-ratio">
    <div class="video">
      <h1>No content</h1>
      <p>
        Open a video by searching one, or by browsing your history or your
        bookmarks with the right panel!
      </p>
      <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
    </div>
  </div>
</div>
